h1 {
    font-size: 40px !important;
    margin-bottom: 50px;
}

pre.unstyled {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.946;
    word-break: break-all;
    word-wrap: break-word;
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0;
}

.form-control {
    font-size: 17px;
    color: #0d0d0e;
}

textarea.form-control {
    min-height: 120px !important;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}